@charset "utf-8";

::selection {
    background: rgb(255, 178, 24);
    color: #fff;
  }
  .container {
    max-width: 1000px;
    width: 100%;
    padding: 40px 50px 40px 40px;
    background: #fff;
    margin: 20px 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .topic {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content .list {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 50px;
    position: relative;
  }
  .content .list label {
    height: 60px;
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
    cursor: pointer;
    padding-left: 25px;
    transition: all 0.5s ease;
    color: #333;
    z-index: 12;
  }
  #Voucher:checked ~ .list label.Voucher,
  #Order:checked ~ .list label.Order,
  #Account:checked ~ .list label.Account,
  #Refund:checked ~ .list label.Refund,
  #Welcome:checked ~ .list label.Welcome {
    color: #fff;
  }
  .content .list label:hover {
    color: rgb(255, 178, 24);
  }
  .content .slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    background: rgb(255, 178, 24);
    transition: all 0.4s ease;
  }
  #Voucher:checked ~ .list .slider {
    top: 0;
  }
  #Order:checked ~ .list .slider {
    top: 60px;
  }
  #Account:checked ~ .list .slider {
    top: 120px;
  }
  #Refund:checked ~ .list .slider {
    top: 180px;
  }
  #Welcome:checked ~ .list .slider {
    top: 240px;
  }
  .content .text-content {
    width: 80%;
    height: 100%;
  }
  .content .text {
    display: none;
  }
  .content .text .title {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
  }
  .content .text p {
    text-align: justify;
  }
  .content .text-content .Voucher {
    display: block;
  }
  #Voucher:checked ~ .text-content .Voucher,
  #Order:checked ~ .text-content .Order,
  #Account:checked ~ .text-content .Account,
  #Refund:checked ~ .text-content .Refund,
  #Welcome:checked ~ .text-content .Welcome {
    display: block;
  }
  #Order:checked ~ .text-content .Voucher,
  #Account:checked ~ .text-content .Voucher,
  #Refund:checked ~ .text-content .Voucher,
  #Welcome:checked ~ .text-content .Voucher {
    display: none;
  }
  .content input {
    display: none;
  }
  .newI
  {
    width: 27px;
    height: 22px;
  }
  /*voucher detail display*/
  
  .logo
  {
    align-self:auto;
    background-color: rgb(255, 178, 24);
    width: 200px;
    height: 72px;
  }
  .VoucherText 
  {
    padding: 20px 16px;
    background-color: white;
  }
  .VoucherCode 
  {
    padding: 2px 16px;
    text-align: left;
    background-color: #f1f1f1;
  }
  .promo {
    margin-left: 5px;
    background: #ccc;
    padding: 3px;
  }
  
  .expire {
    color: red;
  }
  .coupon {
    border: 5px dotted #bbb; 
    width: 100%;
    border-radius: 5px; 
    margin-right: 0px auto ; 
    max-width: 600px;
    background-color: #f1f1f1;
  }
  
  .text-box {
    border: 2px dotted grey; /* Grey dot border */
    padding: 15px; /* Add padding inside the box */
    margin-bottom: 20px; /* Add space between boxes */
  }
  
  .delete-button {
    background-color: #ff0000; /* Red background color */
    color: #fff; /* White text color */
    padding: 10px 15px; /* Adjust padding for button size */
    border: none; /* Remove button border */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 5px; /* Rounded corners */
    margin-top: 10px; /* Adjust margin as needed */
    transition: transform 0.2s; /* Add a transition for the 3D effect */
    display: flex;
    font-size: 12pt;
  }
  
  .delete-button:hover {
    background-color: #ff3333; /* Darker red on hover */
  }
  
  .delete-button:active {
    transform: translateY(2px); /* Push down effect on click */
  }
  .delete-button i
  {
    margin-left: 2px;
  }
  .delete-button p
  {
    padding-left: 5px;
  }